.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading {
  width: 122px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #336bb4;
  text-decoration: none;
}

.image {
  -webkit-transform: translate(-23px, 7px) scale(1.6) rotate(-45deg);
  -ms-transform: translate(-23px, 7px) scale(1.6) rotate(-45deg);
  transform: translate(-23px, 7px) scale(1.6) rotate(-45deg);
}

.heading-2 {
  -webkit-transform: translate(-19px, 0px);
  -ms-transform: translate(-19px, 0px);
  transform: translate(-19px, 0px);
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #336bb4;
  text-decoration: none;
}

.div-block-2 {
  background-color: #fff;
}

.section {
  background-color: #336bb4;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transform: scale(1.4) translate(-19px, 0px);
  -ms-transform: scale(1.4) translate(-19px, 0px);
  transform: scale(1.4) translate(-19px, 0px);
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: rgba(51, 107, 180, 0.75);
}

.heading-3 {
  margin-right: 60px;
  padding-right: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgba(51, 107, 180, 0.75);
  font-size: 20px;
}

.heading-4 {
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgba(51, 107, 180, 0.75);
  font-size: 20px;
}

.heading-5 {
  margin-right: 60px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
}

.heading-6 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #acacac;
  font-size: 20px;
}

.div-block-7 {
  width: 200px;
  margin-left: -65px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
}

.image-2-copy {
  display: none;
}

.div-block-8 {
  width: 100px;
  height: 100px;
  margin-top: 74px;
  margin-bottom: 26px;
  border-radius: 100%;
  background-color: #fff;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-left: 0px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0%;
  background-color: transparent;
}

.heading-7 {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}

.heading-8 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-size: 30px;
  text-align: center;
}

.div-block-10 {
  height: 50px;
  min-height: 2%;
}

.div-block-11 {
  width: 80%;
  height: 15%;
  min-height: 100px;
}

.div-block-11-copy {
  width: 300px;
  height: 50px;
  min-height: auto;
  margin-top: 79px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
}

.paragraph {
  width: 100%;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: none;
  -webkit-column-count: auto;
  column-count: auto;
  white-space: normal;
}

.div-block-13 {
  height: 350px;
  border-radius: 20px;
  background-color: #fff;
}

.div-block-13-copy {
  height: 350px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-9 {
  height: auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

.heading-10 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

.grid {
  -webkit-align-content: end;
  -ms-flex-line-pack: end;
  align-content: end;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.heading-11 {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
}

.heading-12 {
  color: #6b6b6b;
  font-style: italic;
}

.div-block-14 {
  width: 95%;
}

.link-block {
  color: #0363df;
  text-decoration: none;
}

.link-block-2 {
  color: #0363df;
  text-decoration: none;
}

.heading-13 {
  text-align: center;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-3 {
  background-color: #000;
}

.heading-14 {
  color: #fff;
  text-align: center;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-17 {
  width: 80%;
}

.link-block-3 {
  text-decoration: none;
}

.link-block-4 {
  text-decoration: none;
}

.div-block-18 {
  height: 0px;
}

@media screen and (max-width: 991px) {
  .div-block-5 {
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .image-2 {
    display: none;
  }

  .div-block-6 {
    display: none;
  }

  .heading-6 {
    margin-left: 0px;
    border: 1px none #000;
    border-radius: 20px;
  }

  .div-block-7 {
    width: 300px;
  }

  .image-2-copy {
    display: block;
    margin-left: 76px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .div-block {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .div-block-5 {
    margin-left: 6px;
  }

  .heading-6 {
    display: none;
  }

  .image-2-copy {
    margin-left: 1px;
  }

  .div-block-11 {
    height: auto;
    min-height: auto;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    padding-right: 25px;
  }

  .div-block-5 {
    margin-left: -53px;
    padding-left: 0px;
  }

  .image-2-copy {
    margin-right: 36px;
    margin-left: 0px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .div-block-9 {
    width: 200px;
  }

  .heading-7 {
    position: static;
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
    text-decoration: none;
    white-space: normal;
  }

  .div-block-11 {
    width: 95%;
    height: auto;
  }

  .paragraph {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
  }

  .heading-11 {
    font-size: 25px;
  }

  .heading-12 {
    text-align: center;
  }
}